<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome, you have logged in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    .hide{
        visibility: hidden;
        width: 0px;
    }
</style>
</head>
<body class="text-center">
<div class="container text-center">
    <div class="nav flex-column justify-content-center bg-light text-center">
{{if .Success}}
<form action="/update/" method="POST" id="update" enctype="multipart/form-data">
    <div><h1>Username:</h1> <input type='text' class="hide" value="{{printf "%s" .Username}}" name="username"> {{.Username}}</div>
    <label><h1>Nickname:</h1>
    <input type="text" value="{{printf "%s" .Nickname}}" name="nickname">
    </label>
    <h1>Profile:</h1>
    <input type="text" class="hide" name="last_profile" value="{{.ProfileName}}">
    <div><input class="hide" type="file" name="profile" id="input" onchange="changeImg()" ><a href="javascript:;"><img id="image" src="{{.Profile}}" alt="No Image" onclick="clickInput()"></a></div>
    <div style="padding-top: 10px"><input type="submit" value="Change"></div>
</form>

{{else}}
<div> Your operation is failed:</div>
    <div>{{.Reason}}</div>

{{end}}
    </div>
</div>

<script>
    function clickInput(){
        let input = document.getElementById("input");
        input.click();
    }

    function changeImg(){
        let img = new Image()
        img.onload=function(){
            document.getElementById("image").src = this.src
        }
        img.src=(window.URL||window.webkitURL).createObjectURL(input.files[0])
    }
</script>
</body>
</html>