<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome, you have logged in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    .hide{
        visibility: hidden;
        width: 0px;
    }
</style>
</head>
<body class="text-center">
<div class="container text-center">
    <div class="nav flex-column justify-content-center bg-light text-center">
{{if .Success}}
<form action="/update/" method="POST" id="update">
    <div><h1>Username:</h1> <input type='text' class="hide" value="{{printf "%s" .Username}}" name="username"> {{.Username}}</div>
    <label><h1>Nickname:</h1>
    <input type="text" value="{{printf "%s" .Nickname}}" name="nickname">
    </label>
    <h1>Profile:</h1>
    <div><input class="hide" type="file" name="profile" onchange="inputFileBase64();" id="inputFileImg"><a href="javascript:;"><img id="image" src="{{.Profile}}" alt="No Image"> </a></div>
    <textarea class="hide" name="profile_photo"></textarea>
    <div style="padding-top: 10px"><input type="submit" value="Change"></div>
</form>

{{else}}
<div> Your operation is failed:</div>
    <div>{{.Reason}}</div>

{{end}}
    </div>
</div>
<script>
    document.getElementsByTagName('a')[0].onclick = function(){
        document.getElementById('inputFileImg').click();
    }

    function inputFileBase64(){
        var call = upload_file('inputFileImg',['.png','.jpg']);
    }

    function upload_file(input_img_id,format){
        if(document.getElementById(input_img_id).value != ''){
            var fileExt=document.getElementById(input_img_id).value.substr(document.getElementById(input_img_id).value.lastIndexOf(".")).toLowerCase();
            var data =  {'code' : false};
            for(var i = 0; i < format.length; i++){
                if(fileExt == format[i]){
                    data = {'code' : true};
                }
            }
            if(!data['code']){
                document.getElementById(input_img_id).value='';
                return data;
            }
            var file = document.getElementById(input_img_id);
            var data = createReader(file.files[0]);
        }
    }

    function createReader(file){
        var reader = new FileReader;
        reader.onload = function (evt){
            var image = new Image();
            image.onload = function(){
                data = {
                    'code'      : true,
                    'base_64'   : evt.target.result,
                    'width'     : this.width,
                    'height'    : this.height,
                }
                document.getElementsByTagName('img')[0].src=data.base_64;
            };
            image.src = evt.target.result;
        };
        reader.onloadend = (()=>{
            let area = document.getElementsByTagName("textarea")[0];
            area.value=reader.result;
        });
        reader.readAsDataURL(file);
    }


</script>
</body>
</html>